html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
table, th, td {
     border-collapse: collapse;
     border: 1px solid black;
     text-align: center;
     background: white; /* cor de fundo da tabela*/
}
 table {
     border-collapse: collapse;
     width:100%;
}
 td, th {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}
 th {
     font-weight: bold;
  
}
tr:nth-child(even){
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
.selected {
            background-color: #dc3545;
            color: #FFF;
}
